extends layout

block content

  h4 Click 'edit' to edit the data of animal

  if animals.length == 0
    p No data in database. 
  else 
    table.table.table-bordered
      caption List of animals in Spreadsheet
      thead.table-light
        tr
          th id
          th name
          th age
          th salary
          th 
      tbody 
        for animal in animals 
          tr
            td #{animal.id}
            td #{animal.name}
            td #{animal.age} 
            td #{animal.salary} 
            td 
              a(href="/edit/#{animal.id}", style="text-decoration: none;").btn.btn-primary edit
  a(href="/", style="text-decoration: none; margin-top:10px;").btn.btn-primary Back