extends layout

block content
  h1= title
  p Welcome to DockerTask from Yeongse Kim. 
  p Fetch data from Spreadsheet and insert them into database.  
  table.table 
    tr 
      td 
        a(href="/add", style="text-decoration: none;").btn.btn-primary Fetch data from Spreadsheet
      td 
        a(href="/delete", style="text-decoration: none;").btn.btn-primary Delete all data from Spreadsheet
      td 
        a(href="/change", style="text-decoration: none;").btn.btn-primary Change data in the Spreadsheet

  if animals.length == 0
    p No data in database. 
  else 
    table.table.table-bordered
      caption List of animals in MySQL
      thead.table-light
        tr
          th id
          th name
          th age
          th salary
      tbody 
        for animal in animals 
          tr 
            td #{animal.id}
            td #{animal.name}
            td #{animal.age} 
            td #{animal.salary}  
   